<a href="https://colab.research.google.com/github/japadenikita/Python/blob/main/SetComprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Converting lowercase to uppercase in set

In [1]:
Fruit=['apple','banana','cherry']
L1={i.upper() for i in Fruit }
print(L1)

{'APPLE', 'CHERRY', 'BANANA'}

Square of numbers in set using range

In [6]:

L2={i*i for i in range(1,10) }
print(L2)

{64, 1, 4, 36, 9, 16, 49, 81, 25}

Cube of number using generator

In [7]:

L2=tuple(i**3 for i in range(1,10))
print(L2)

(1, 8, 27, 64, 125, 216, 343, 512, 729)